[submodule "consensus-spec-tests"]
	path = consensus-spec-tests
	url = https://github.com/ethereum/consensus-spec-tests.git
  ignore = all
[submodule "consensus-specs"]
	path = consensus-specs
	url = https://github.com/ethereum/consensus-specs.git
	branch = master
  ignore = all
